/*za navbar*/
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #eedb6d;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  align-items: center;
  min-height: 60px;
  padding-left: 25px;
  font-size: large;
  color: black;
  text-decoration: none;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}


/*futer*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #eedb6d;
  color: black;

}
a{
  text-decoration: none;
}



 
 
 
 
#right{
  padding: 25px 40px;
  margin: 10%;
}
#right h2{
  position:relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
 
.field{
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color:  rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition:.3s;
}
.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
  background-color: #fff;
  border:2px solid #eedb6d;
}
.area{
  min-height: 150px;
}

 
@media screen and (max-width:880px) {
  #contact-box{
      grid-template-columns: 1fr;
  }
  #left{
      height: 200px;
  }
}


/*za dogadjaje*/
* {
  box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.719);
}
 
 
.card {
  margin: 10px;
  background-color: #eedb6d;

  overflow: hidden;
  width: 250px;
  height: 600px;
 

}
.card-header img {
  width: 100%;
 
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  min-height: 250px;
  
}
.naslovKartice{
  font-size:20px;
}
.opis{
  font-size:25px;
}
.cena{
  font-size:250px;
  text-decoration:  none;
  margin:0;
}
 
.tag {
 
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: black;
  padding: 2px 10px;
  text-transform: uppercase;
 
}
.tag-teal {
  background-color: #eedb6d;
}
 

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.card-img-top{
  height:300px;
  width: auto;
} 

.all-events{
   
     
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:9%;
  margin-top: 50px;

  
}